body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #43cea2, #185a9d);
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #5b5d5b;
  color: white;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

footer {
  background-color: #5b5d5b;
  color: white;
  padding: 15px;
  text-align: center;
  width: 100%;
}

button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.table-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  transition: background-color 0.3s;
}

tr:hover {
  background-color: #f9f9f9;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin-bottom: 20px;
}

.word-card {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 4px solid #43cea2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: calc(20% - 16px);
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.word-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.show-translation-button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.show-translation-button:hover {
  background-color: #0056b3;
}

.learned-counter-container {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.error-message {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  text-align: center;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4D9CDB;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 750px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  th, td {
    white-space: normal;
    width: 100%;
    box-sizing: border-box;
  }

  tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  thead tr {
    display: none;
  }

  td {
    position: relative;
    padding-left: 50%;
  }

  td::before {
    position: absolute;
    top: 0;
    left: 5px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
  }
}
